{% extends "base.html" %}
{% block title %}Add User{% endblock %}

{% block content %}
<h2>Add New User</h2>

<form method="POST">

    <label>Username</label>
    <input type="text" name="username" required>

    <label>Password</label>
    <input type="password" name="password" required>

    <label>Role</label>
    <select name="role" required>
        <option value="usher">Usher</option>
        <option value="finance">Finance</option>
        <option value="admin">Admin</option>
    </select>

    <button type="submit">Create User</button>
</form>

{% endblock %}
